<aside id="sidebar">
	<div class="inner">
		<header>
			<h1>Content Management</h1>
		</header>
		<nav ng-bind-html="tree">
		</nav>
	</div>
</aside>
<section id="content">
	<div id="navbar">
		<input type="submit" value="Save" ng-click="save(data)">
	</div>
	<div ng-show="right">
		<table ng-show="right.model.list">
			<tbody>
				<tr ng-repeat="item in right.data">
					<td>
						<a ng-href="{{link($index)}}">{{ summary(right.model, item) }}</a>
					</td>
					<td class="delete">
						<a ng-href="#" ng-click="deleteItem(right.data, $index)">×</a>
					</td>
				</tr>
			</tbody>
		</table>
		<a href="#" ng-show="!right.model.children" id="addBtn" class="btn" ng-click="addItem(right.model, right.data)">Add Item</a>
	</div>
	<form ng-show="form">
		<label class="label" ng-repeat="field in form.model.fields">
			<strong>{{ name(field) }}</strong>
			<input ng-show="type(field)=='text'" type="text" name="{{name(field)}}" class="alphanumeric" ng-model="form.data[name(field)]">
			<input ng-show="type(field)=='checkbox'" type="checkbox" name="{{name(field)}}" class="alphanumeric" value="{{value(form.data, field)}}" ng-checked="checked(form.data, field)">
			<textarea ng-show="type(field)=='textarea'" name="{{name(field)}}" class="alphanumeric">{{value(form.data, field)}}</textarea>
		</label>
	</form>

</section>
