@import "variables";

html {
  background-color: $colorDefaultBackground;
}

body {
  font-family: $fontMain;
  color: $colorFontAlmostWhite;
  font-size: 15px;
}

a {
  color: $colorAnotherDark;
}

a:active {
  outline: none
}

a.blue {
  color: $colorPastelBlue;
  text-decoration: underline
}

a.blue:hover {
  text-decoration: none
}

a.white {
  color: #e0e0e0;
  text-decoration: none
}

a.white:hover {
  color: white;
}

small {
  font-size: 12px
}

hr {
  border: none;
  height: 1px;
  margin: 20px 0;
  background-color: $colorFontLightGray
}

#left {
  position: fixed;
  top: $topNav;
  bottom: $bottomNav;
  left: 0;
  width: 200px;
  height: 100%;
  color: $colorFontAlmostWhite;
  text-align: left;
  background-color: $colorDark;
  border-top: 1px solid $colorBorderDark;
  .inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    overflow-y: auto
  }
  header {
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    h1 {
      font-size: 22px
    }
  }
  nav {
    padding-bottom: 70px;
    li {
      list-style-type: none;
      border-bottom: 1px solid #333;
      &:last-of-type {
        border-bottom: none
      }
      a {
        display: block;
        line-height: 25px;
        margin-top: 1px;
        width: 100%;
        padding: 10px 15px;
        color: $colorFontLightGray;
        border-left: 3px solid transparent;
        &:hover {
          color: $colorFontSelectedWhite;
          background-color: rgba(255, 255, 255, 0.1);
          border-color: rgba(255, 255, 255, 0.1);
        }
        &.selected {
          color: $colorFontSelectedWhite;
          border-color: $colorPastelRed;
          background-color: $colorSelectedDark;
        }
      }
    }
  }
}

#navbar {
  position: fixed;
  text-align: left;
  width: 100%;
  z-index: 100;
  background-color: $colorNavBar;
  margin: 0;
  padding: 0;
  height: $topNav;
  vertical-align: top;
  .nav {
    margin: 0;
    vertical-align: top;
    display: inline-block;
    height: 100%;
    border-bottom: 2px solid $colorNavBar;
    box-sizing: border-box;
    padding: 10px 0 0;
    &.tab {
      padding: 0;
      margin-left: 10px;
      margin-right: 10px;
      line-height: $topNav;
      &.selected {
        border-bottom-color: $colorPastelBlue;
      }
      &:hover {
        border-bottom-color: $colorPastelBlue;
      }
      a {
        display: inline-block;
        height: 100%;
      }
    }
  }
}

#message {
  background-color: #eeeeee;
  padding: 5px 5px 18px 20px;
  text-align: left;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #dddddd;
  font-size: 12px;
  font-weight: 600;
  font-family: "Courier New", "Helvetica", sans-serif;
  color: #202020;
  z-index: 1000;
  height: $bottomNav;
}

#right {
  position: absolute;
  top: $topNav;
  left: 200px;
  right: 0;
  bottom: 0;
  padding: 40px;
  & > div {
    padding-bottom: 40px;
  }
}

form {
  margin-bottom: 30px;
  max-width: 700px;
  font-size: 16px;
  padding-bottom: 20px;
  border: 1px solid $colorBorderInput;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  .field {
    strong {
      color: $colorFontLightGray;
      display: block;
      margin: 10px 10px 8px 0;
      .type {
        float: right;
        font-size: 12px;
        a {
          text-decoration: none;
        }
      }
    }
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    text-align: left;
    padding: 10px 23px 20px;
    &:not(:last-child) {
      border-bottom: 1px solid lighten($colorDefaultBackground, 4%);
    }
    .description {
      margin-bottom: 4px;
    }
  }
}

input[type="text"], textarea {
  background-color: $colorInputBackground;
  color: $colorFontAlmostWhite;
  font-family: $fontMain;
  font-size: 16px;
  width: 100%;
  padding: 5px;
  border: 1px solid $colorBorderInput;
  &:focus {
    border-color: $colorBorderFocusedInput;
    outline: none
  }
  &.error {
    border: 2px solid $colorErrorRed
  }
}

textarea {
  height: 200px;
  resize: vertical;
  color: $colorFontInput;
  background-color: $colorInputBackground;
  &.short {
    height: 60px
  }
}

[contenteditable]:focus {
  outline: none
}

.checkbox {
  position: relative;
  input {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it

    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
    }

    // Box.
    & + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      background: $colorInputBackground;
      border: 1px solid $colorBorderInput;
    }

    // Box hover
    &:hover + label:before {
      //      background: #f35429;
    }

    // Box focus
    &:focus + label:before {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }

    // Box checked
    &[value=true] + label:before {
      background: $colorInputBackground;
    }

    // Disabled state label.
    &:disabled + label {
      color: #b8b8b8;
      cursor: auto;
    }

    // Disabled box.
    &:disabled + label:before {
      box-shadow: none;
      background: #ddd;
    }

    // Checkmark. Could be replaced with an image
    &[value=true] + label:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 9px;
      background: $colorFontInput;
      width: 2px;
      height: 2px;
      box-shadow: 2px 0 0 $colorFontInput,
      4px 0 0 $colorFontInput,
      4px -2px 0 $colorFontInput,
      4px -4px 0 $colorFontInput,
      4px -6px 0 $colorFontInput,
      4px -8px 0 $colorFontInput;
      transform: rotate(45deg);
    }
  }
}

.btn {
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  *zoom: 1;
  *display: inline;
  padding: 10px 25px;
  background-color: #fff;
  font-size: 13px;
  border: 1px solid #bbb;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.06) 0 1px 2px, inset rgba(0, 0, 0, 0.05) 0 -1px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.06) 0 1px 2px, inset rgba(0, 0, 0, 0.05) 0 -1px 1px;
  box-shadow: rgba(0, 0, 0, 0.06) 0 1px 2px, inset rgba(0, 0, 0, 0.05) 0 -1px 1px;
  &:active {
    background-color: #f4f4f4;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
  }
  &.cmd {
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    border: none;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    width: 6rem;
    text-align: center;
    &.blue {
      color: white;
      background-color: $colorPastelBlue;
      border-radius: 4px;
      box-sizing: border-box;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
      border: none;
      padding: 0.5rem 0.75rem;
      font-size: 0.875rem;
    }
    &.disabled {
      background-color: $colorDark;
      box-shadow: none;
      color: $colorFontDisabledDark;
      &.blue {
        background-color: $colorDark;
        box-shadow: none;
        color: $colorFontDisabledDark;
      }
      cursor: default;
    }
  }
}

table {
  margin: 0 0 30px 0;
  width: 100%;
  border: 1px solid $colorFontLightGray;
  border-top: none;
  tr {
    width: 100%;
    border: 1px solid $colorBorderInput;
    background-color: $colorInputBackground;
    //  border: 1px dashed gray;
    padding: 0.5rem 1rem;
    margin-bottom: .5rem;
    cursor: move;
    .ui-sortable-placeholder {
      height: 60px
    }
    td {
      position: relative;
      a {
        color: $colorFontAlmostWhite;
        display: block;
        padding: 20px 10px
      }
      &.delete {
        width: 40px;
        background-color: $colorDark;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        a {
          color: $colorFontLightGray;
          &:hover {
            background-color: $colorErrorRed;
            color: $colorFontSelectedWhite;
          }
        }
      }
      &.first {
        width: 25%
      }
    }
    &:hover td {
      background-color: rgba(0, 0, 0, 0.02);
      &.delete {
        background-color: $colorDark;
      }
    }
  }
}
