$fontMain: "Avenir Next", "Helvetica", sans-serif;
$topNav: 50px;
$bottomNav: 20px;
$colorErrorRed: red;
$colorPastelRed: #ec5f67;
$colorPastelBlue: #6caedd;
$colorPastelGreen: #99c794;
$colorBorderDark: #121516;
$colorVeryDark: #1C2022;
$colorAnotherDark: #23262c;
$colorDark: #24282A;
$colorSelectedDark: rgba(139, 191, 228, 0.19999999999999996);
$colorFontDisabledDark: #555;
$colorInputBackground: #494b54;
$colorFontLightGray: #aaa;
$colorDefaultBackground: lighten(#23262c, 5%);
$colorFontSelectedWhite: #fff;
$colorFontAlmostWhite: #d4d4d4;
$colorFontInput: #aab3ba;
$colorBorderInput: lighten($colorInputBackground, 10%);
$colorBorderFocusedInput: $colorFontLightGray;
$fontCode: Menlo, Monaco, "Courier New", monospace;
$colorNavBar: $colorVeryDark;
